* {
  background-color: #1f1f1f;
}
.App {
  text-align: center;
  background-color: #1f1f1f;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 30vw;
  height: 30vh;
}

.itemMargin {
  padding: 10px;
  /* margin: 30px 0; */
}
.container {
  margin: 20px;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* border: rgb(63, 62, 62) 5px solid; */
  /* background-color: rgb(19, 19, 19); */
}

/* @media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .item {
    position: relative;
  }
} */
.notfound {
  background-image: url("https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  background-size: cover;
}

.notfound h1{
  color: white; 
}
