.App {
  text-align: center;
  background-color: #1f1f1f;
  padding: 0;
}
.itemMargin {
  padding: 10px;
  /* margin: 30px 0; */
}
.container {
  /* margin: 20px; */
  padding: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* border: rgb(63, 62, 62) 5px solid; */
  background-color: rgb(19, 19, 19);
}
img {
  width: 90%;
  height: 90%;
}
.item {
  width: 600px;
  height: 900px;
  flex: 0 0 auto;
  justify-content: center;
}
.overlay {
  margin: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s ease;
  background-color: white;
  display: none;
}
.item:hover .overlay {
  opacity: 0.5;
  display: block;
}
.item:hover {
  transform: scale(1.05);
}
/* @media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .item {
    position: relative;
  }
} */

.cinema {
}
