* {
  background-color: #1f1f1f;
}
.App {
  text-align: center;
  background-color: #1f1f1f;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 30vw;
  height: 30vh;
}

.itemMargin {
  padding: 10px;
  /* margin: 30px 0; */
}
.container {
  /* margin: 20px; */
  padding: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* border: rgb(63, 62, 62) 5px solid; */
  /* background-color: rgb(19, 19, 19); */
}

.item {
  width: 600px;
  height: 900px;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

img {
  width: 100%;
  /* height: 90%; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay {
  margin: 0;
  position: absolute;
  /* width: 600px;
  height: 900px; */
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.7s ease;
  background-color: white;
  display: none;
}

.overlay > h2,
h4 {
  /* color: white; */
  background: none;
}
.item:hover {
  opacity: 0.4;
  display: block;
}

.item:hover .overlay {
  opacity: 0.3;
  display: block;
}

.item:hover {
  transform: scale(1.05);
}

/* @media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .item {
    position: relative;
  }
} */

.notfound {
  color: ;
}
