.App {
  text-align: center;
}

/* .container {
  display: flex;
} */
.container {
  display: flex;
  padding: 50px;
}
@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}

.item {
  flex: 1;
  position: relative;
}
img {
  width: 90%;
}
.item:hover {
  transform: scale(1.1);
}
